.node-form .field--name-field-users-to-email .field-multiple-table {
  display: inline-block;
  table-layout: fixed;
}

.node-form .field--name-field-users-to-email .field-multiple-table .form-autocomplete {
  width: 100% !important;
}
